.App-intro {
  font-size: large;
}

.App-description {
  text-align: justify;
  padding-left: 300px;
  padding-right: 200px;
}
.App-demo {
  text-align: justify;
  padding-left: 300px;
  padding-right: 200px;
}
.App-code {
  text-align: justify;
  padding-left: 300px;
  padding-right: 200px;
}
.App-contribute {
  text-align: justify;
  padding-left: 300px;
  padding-right: 200px;
}
